/* 
andybartle.com
*/

body{
    background: #eeeeee;
    padding-top: 50px;
    font-family: 'Varela Round', sans-serif;
}




/* Navigation bar styles */
.form-inline {
    display: inline-block;
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {		
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
    font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #f00000
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
    color: #f00000 !important;
}
.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
    color: #f00000 !important;
    background: transparent !important;
}
.navbar .nav-item i {
    font-size: 18px;
}
/* Navigation bar styles END */


/* Styles for header */
.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('../images/nepal.JPG') center center no-repeat scroll;
    opacity: 0.6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }